<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DSAlgoSuite">
  <test thread-count="6" name="DSAlgoTest">
    <classes>
      
      <class name="com.dsalgo.qa.testcases.PortalPageTest"/>
      <class name="com.dsalgo.qa.testcases.HomePageTest"/>
      <class name="com.dsalgo.qa.testcases.RegisterPageTest"/>
      <class name="com.dsalgo.qa.testcases.SigninPageTest"/>
       <class name="com.dsalgo.qa.testcases.DSPageTest"/>
      <class name="com.dsalgo.qa.testcases.ArrayPageTest"/>
      
      
    </classes>
  </test> <!-- DSAlgoTest -->
</suite> <!-- DSAlgoSuite -->
